DEFAULT_INSTITUTION_ID=
FCM_PROJECT_ID=
FCM_SERVER_KEY=
INITIAL_ADMIN_EMAIL=jms.hric@gmail.com
INITIAL_ADMIN_PASSWORD=your_secure_admin_password_here
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_ANON_KEY=
SUPABASE_JWT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=
SUPABASE_URL=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=